<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= user.username %>'s Cookbook</title>
  </head>
  <body>
    <nav><a href="/auth/sign-out">Sign out</a></nav>
    <h1><%= user.username %>'s Cookbook</h1>
  </body>
</html>
