<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= user.username %>'s Cookbook</title>
  </head>
  <body>
    <div><%- include('./partials/_navbar.ejs') %></div>
    <h1><%= user.username %>'s Cookbook</h1>
    <div>
        <h2>What would you like to do?</h2>
        <p>
            <ul>
                <li>
                    <a href="/myCookBook/my-recipes">View My Recipes</a>
                </li>
                <li>
                    <a href="/myCookBook/add-recipe">Add New Recipes</a>
                </li>
                <li>
                    <a href="">View My Ingredients</a>
                </li>
                <li>
                    <a href="">Add New Ingredients</a>
                </li>
            </ul>
        </p>
    </div>
  </body>
</html>
